<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>645056492006-snk7kna5h28ihqg1prjokoqp3kteb6ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.645056492006-snk7kna5h28ihqg1prjokoqp3kteb6ed</string>
	<key>API_KEY</key>
	<string>AIzaSyA7_osjfj2qGkwKZG3gxjrfK7cOnw9k0Rg</string>
	<key>GCM_SENDER_ID</key>
	<string>645056492006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterVandan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>my-notesvandanpr</string>
	<key>STORAGE_BUCKET</key>
	<string>my-notesvandanpr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:645056492006:ios:0ebb038e2a3cc638e5e627</string>
</dict>
</plist>